body {background: #F3BB1C;}
button{
  background: #FFE69D;
  font-weight:bold;
  border-radius: 5px; }
#status { position: fixed; left:0; top: 0; right:33%; height:70px; z-index: 1; background-color: #F3B11C; }
#status > div {
  position: absolute;
  top:5px; left:5px; right:10px; bottom:40px; }
#status #input {
  min-width: 100%;
  min-height: 100%;
  background: #FFE69D; }
#status #curchannel {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 7.5px;
  height: 20px;
  top: initial;
  top: initial; }

#status #actions {
    position: absolute;
    right: 0px;
    bottom: 7.5px;
    height: 20px;
    top: initial; }

.message {
  border-radius: 5px;
  margin-top: 2px;
  background: #F3B11C;
  padding: 5px;
  min-height: 16px; }

label.channel, label.date, label.from {
  font-size: 80%;
  font-weight:bold;
  float: left;
  margin-right: 10px;
  font-family: sans-serif; }
label.channel:hover, label.date:hover, label.from:hover { color: #ff0000; }

.message audio,
.message video,
.message img { margin: 5px 0; max-width: 100%; min-width: 100%; }
.message label.date,
.message label.channel { float: right; opacity: 0.6; }
.message p.body {
  margin: 0;
  font-family: sans-serif;
  padding: 5px;}

#feed { width: 66%; margin-top: 75px; }
navigation { width: 33%; position: fixed; right:5px; top: 5px; }
.peer .peer .meta .date { display: none; }
.peer { position: relative; }
.peer .peer {
  display: inline-block;
  clear:both;
  padding: 0;
  margin: 0;
  color:330;
}
.actions  { display: inline-block; float:right; }
#actions i {
  border-radius: 2px;
  background:#FFE69D;
  padding: 3px; }
#actions i:hover {
  padding: 3px; }
.videochat {
  display: block;
  position: fixed;
  right: 5px;
  top: 5px; }
label, .peer i { text-shadow: 0 -1px 1px #775301, 0 1px 1px #FFDC9C; }
video.chat { max-width: 200px; }

.nosel, #peer * {
  cursor: arrow;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
